.edit-book{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 20px;
    padding-right: 100px


}

.read-book{
    justify-content: center;
    margin-bottom: 20px;
    padding-right: 100px

}