.searchbar{
    margin: 30px ;
   
}
// .default-button{
//     color: black;
//     background-color: #F3E7DC;
//     padding: 10px;
//     border: none;
//       &:hover 
//     {
//     background-color: white;
//     color: black;
//     border: 1px solid;
//     &::before { width: 0; }
//     &::after { height: 0; }
// }
