
.navbar {
    background-color: rgba(250, 245, 236, 0.7);
}
.decoration{
    text-decoration: none;
}

.brand-navbar{
    font-family: Atalla;
    font-size: 30px;
}

* {
    font-family: Derabaro;
    font-size: 20px;
    font-weight: 200;
}

.dropdown-toggle{
        font-family: Derabaro;
    font-size: 20px;
    font-weight: 200;
}