@font-face { 
    font-family: 'Derabaro'; 
    src: url(../../../fonts/Derabaro.ttf) format('truetype'); 
} 


.navbar {
    background-color: #FAF5EC;
}
.decoration{
    text-decoration: none;
}



* {
    font-family: Atalla;
    font-size: 20px;
    font-weight: 200;
}