.login{
    display: block;
}

.image-login{
    width: 120%;
    margin-left: 40px;
}

.image-coffee{
    position: absolute;
     transform: rotate(45deg);
    bottom: 380px;
    left:  270px;
    width: 70%;
    opacity: 0.5;
}