.book-details-img{
    width: 350px;
    object-fit: contain;
    margin-bottom: 30px; 
}

.like{
    margin-left: 20px;
    padding: 0;
    width: 10px;
}


li{
list-style: none;
}

.heart{
        width: 40px;
}