@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@font-face { 
    font-family: 'Atalla'; 
    src: url(./../../../fonts/Atalla.ttf) format('truetype'); 
} 

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: Atalla;
    font-size: 60px;

}

// h2 {
//   padding-top: 30px;
// }

p {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;

}

.picture-home{
  
     -webkit-box-reflect: reverse;
    background-image: url("https://www.edumpus.com/images/articles/SAT-Exam5f60bf3394927.jpg");
    background-size: cover;
    background-position-y: -130px;
    padding-bottom: 200px;
}

.first-container-text {
  padding-top: 200px;
  
}

.button-first {
  position: relative;
  background: none;
  color: aqua;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  &:hover {
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}
.button-second {
  position: relative;
  background: none;
  color: black;
  text-decoration: none;
  border: 0.2em solid #eeded0;
  padding: 0.7em 1.2em;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #FAF5EC;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #FAF5EC;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  &:hover {
    &::after {
      right: 80%;
    }
    &::before {
      left: 80%;
    }
  }
}

.container-background{
  background-color: #FAF5EC;
  padding-top: 30px;



}

.second-container-home{
  padding-bottom: 30px;
  
}

.second-container-title{
  margin-top: 35px;
}

.first-home-image, .second-home-image{
    object-fit: contain;
    width: 260px; 

}

.col-home-container{
  text-align: center;
  background-color: #FAF5EC;
  padding: 20px 10px 40px;
  margin: 40px;

  
}

.phrase-container{
  padding-top: 30px;
  background-color:#F3E7DC;
  padding-bottom: 30px;
  text-align: center;
  
}



