.chapter {
    
    margin: 30px auto;
    padding: 10px 15px;
    background: #FAF5EC;
    border: 1px dashed #535050;
    text-align: justify;
    white-space: pre-wrap;
    height: auto;
    font-size: 20px;
    min-height: 300px;


}

.book-chapter-text{
      font-family: 'Open Sans', sans-serif;
      font-size: 0.8em;

}

.title-book-chapter{
    margin-top: 20px;
}