.chapter {
    
    margin: 30px auto;
    padding: 10px 15px;
    background: #f9f3f3;
    border: 1px solid #0a0a0a;
    text-align: justify;
    white-space: pre-wrap;
    height: auto;
    font-size: 20px;
    min-height: 300px;


}
