.profile-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 25%;
    margin:auto;
    display:block;
}

.profile-data p, a{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}

a {
    border-radius: 0.25em;
}
