h1, h2, h3{
  font-family: Atalla;
}

.btn{
  font-family: 'Open Sans', sans-serif, italic;
  font-size: 0.7em;
}

.form{
      margin: 50px 50px;
}

.form-label{
  font-family: 'Atalla';
  font-size: 1.3em
}

.default-button{
    color: black;
    background-color: #F3E7DC;
    padding: 10px;
    border: none;
      &:hover 
    {
    background-color: white;
    color: black;
    border: 1px solid;
    text-decoration: none;
    &::before { width: 0; }
    &::after { height: 0; }
}
}